.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
}


/* Hide the slides by default */
.mySlides {
    display: none;
}

.showSlides {
    display:flex;
    width: 700px;
    height: 500px;
    cursor: pointer;
}

#basket p {
    font-size: large;
    font-weight: bold;
}